In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:

1.NumPy
2.Matplotlib
3.Pandas

Data Science Tools

| --- | --- | --- | --- |
| RStudio | Apache Spark | | TensorFlow |
| -------- | |----------- | |---------- |

Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

In [6]:
(200/60)

3.3333333333333335

**Objectives**:

- List popular languages for Data Science
- Data Science Tools
- Popular languages that Data Scientists use

Author H2 style heading
Chris